<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <clear />
  <add name="ABS-SQL" connectionString="Data Source=ABS-SQL-1-test;MultipleActiveResultSets=true;Initial Catalog=ABS;Persist Security Info=True;User ID=sa;Password=Dr5Ch5Vu;" providerName="System.Data.SqlClient" />
</connectionStrings>