<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="ABS-SQL" connectionString="Data Source=192.168.0.8;MultipleActiveResultSets=true;Initial Catalog=ABS;Persist Security Info=True;User ID=sa;Password=Dr5Ch5Vu;" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
</connectionStrings>