<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <clear />
  <add name="ABS-SQL" connectionString="Data Source=winsrv2012r2dc\mssql2k8;MultipleActiveResultSets=true;Initial Catalog=ABS;Persist Security Info=True;Trusted_Connection=True" providerName="System.Data.SqlClient" />
</connectionStrings>