<template>
    <div class="panel panel-default">
        <div class="panel-body bg-info">
            <form role="form" validate.bind="buyback.validation">
                <div class="row au-stagger">
                    <div class="col-xs-4 col-sm-3 col-md-3" if.bind="buyback.isNonAbsSale">
                        <div class="form-group">
                            <label for="saleOption">SaleOption</label>
                            <span class="form-control" id="saleOption">${buyback.sale(lookup.saleOptions)}</span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-3" if.bind="buyback.isAbsSale">
                        <div class="form-group">
                            <label for="location">Location</label>
                            <span class="form-control" id="location">${buyback.location(lookup.saleLocations)}</span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-3" if.bind="buyback.isAbsSale">
                        <div class="form-group">
                            <label for="saleInstance">Sale</label>
                            <span class="form-control" id="saleInstance">${buyback.saleFirstDate}</span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-3">
                        <div class="form-group">
                            <label for="highbid">High Bid</label>
                            <span class="form-control" id="saleInstance" if.bind="buyback.isAbsSale">${buyback.HighBid}</span>
                            <input blur.trigger="buyback.updateBuybackResult()" type="number" class="form-control" id="highbid" validate="buyback.HighBid" value.bind="buyback.HighBid" if.bind="buyback.isNonAbsSale" />
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-3">
                        <div class="form-group">
                            <label for="reserve">Reserve</label>
                            <input blur.trigger="buyback.updateBuybackResult()" type="number" class="form-control" id="reserve" validate="buyback.Reserve" value.bind="buyback.Reserve" />
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2">
                        <div class="form-group">
                            <label for="vin">VIN</label>
                            <span class="form-control" id="vin">${buyback.lastSixOfVIN()}</span>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-2 col-md-2">
                        <div class="form-group">
                            <label for="mileage">Mileage</label>
                            <span class="form-control" id="mileage">${buyback.Mileage}</span>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-2 col-md-2">
                        <div class="form-group">
                            <label for="year">Year</label>
                            <span class="form-control" id="year">${buyback.Year}</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-md-5">
                        <div class="form-group">
                            <label for="make">Make</label>
                            <span class="form-control" id="make">${buyback.Make}</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <div class="form-group">
                            <label for="model">Model</label>
                            <span class="form-control" id="model">${buyback.Model}</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>