@using System.Text.RegularExpressions
<!DOCTYPE html>
<html>
    <head>
        <title>Buyback Management</title>
        @RenderSection("Styles", false)
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type='text/javascript'>
            var User = {
                name: "@Regex.Match(HttpContext.Current.User.Identity.Name, @"\\(.*)").Groups[0].Captures[0].Value"
            }
        </script>

    </head>
    @RenderBody()
    @RenderSection("Scripts", false)
    <script type='text/javascript' id="__bs_script__">
        //<![CDATA[
            document.write("<script async src='//HOST:3000/browser-sync/browser-sync-client.1.9.2.js'><\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
        //]]>
    </script>
</body>
</html>