<body aurelia-app="main">
<div class="splash">
    <div class="message">BuyBack Management</div>
    <i class="fa fa-spinner fa-spin"></i>
</div>
    @Scripts.Render("~/Scripts/app/jspm_packages/system.js")
    @Scripts.Render("~/Scripts/app/config.js")